@model addingFieldsLogin.ViewModels.CalorieGenderActivityViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BMI View</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: grey;
            margin-left:50px; 
        }
    </style>
</head>
<body>
    <h2>BMI-Calculator</h2>

    @using (Html.BeginForm("formsubmit", "Calorie"))
    {

        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(c => c.calorieuser.age)
            @Html.TextBoxFor(c => c.calorieuser.age, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.calorieuser.weight)
            @Html.TextBoxFor(c => c.calorieuser.weight, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.calorieuser.height)
            @Html.TextBoxFor(c => c.calorieuser.height, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.calorieuser.GenderId)
            @Html.DropDownListFor(c => c.calorieuser.GenderId, new SelectList(Model.genderList, "id", "gender"), "Select Gender", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.calorieuser.UserActivityId)
            @Html.DropDownListFor(c => c.calorieuser.UserActivityId, new SelectList(Model.activitylist, "id", "Activity"), "Select Active Level", new { @class = "form-control" })
        </div>

        <button class="btn btn-primary" type="submit">Calculate</button>

    }

</body>
</html>
