@model IEnumerable<addingFieldsLogin.Models.CalorieUser>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BMI View</title>
    <style>
        *{
            margin:0px; 
            padding:0px; 
            box-sizing:border-box; 
            font-family: Leelawadee; 
        }
        #CalorieTable {
            width: 100%;
        }
        th {
            font-size:20px; 
            
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h2>User Calorie Log - printing not done !!! create view with layout and add pdf/excell</h2>
    <table id="CalorieTable" class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="HeadRow">
                <th>User Email</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Calorie Sum</th>
            </tr>
        </thead>

        @foreach (var c in Model)
        {
            if (User.Identity.Name == c.EmailLogin)
            {
                <tbody>
                    <tr>
                        <td>@c.EmailLogin</td>
                        <td>@c.age</td>
                        <td>@c.height <b>cm</b></td>
                        <td>@c.weight <b>kg</b></td>
                        <td>@c.caloriessum</td>
                    </tr>
                </tbody>
            }
        }
    </table>
</body>
</html>
